body {
	padding: 0;
	margin: 0;
}
.wrapper {
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100vw;
	margin: 0;
	padding: 0;
	overflow: scroll;
}
.logo {
	width: 50%;
	height: 30%;
	padding: 5%;
}
.background {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.7;
}
.paragraph {
	display: flex;
	flex-direction: column;
	text-align: left;
	letter-spacing: 0;
	color: #20272b;
	text-shadow: 0px 3px 6px #00000029;
	background: #FFFFFF80 0% 0% no-repeat padding-box;
	opacity: 1;
	padding: 3%;
}
.company-description {
	font: 16px/25px Roboto;
	color: #20272b;
	text-shadow: 0px 3px 6px #00000029;
	opacity: 1;
}
.groundskeeper {
	text-align: center;
	font: Black 33px/43px Roboto;
	letter-spacing: 0;
	color: #ffffff;
	text-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	padding: 3%;
}
.imageHolder {
	display: flex;
	width: 100%;
	justify-content: center;
}
.or {
	text-align: center;
}
.login-link {
	color: white;
}
.login-btn {
	background-color: #078b75 !important;
	width: 375px;
}
.signup-link {
	color: black;
}
.signup-btn {
	width: 375px;
}
a {
	text-decoration: none !important;
}
