.requestwrapper{
    width: 90%;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000066;
    margin-top: 20px;
}
.spinner{
    display:block;
    margin-left:45%;
    margin-right:55%;
    padding-top: 50%;
}
.trees{
    height: 130px;
    width: 300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}
.afterLoginPage{
    color: #2B5A01;
    font-weight: bold;
    font-size:24px;
    text-align: center;
    padding: 7vh;
}
.arrow{
    position: absolute;
    left: 35vw
}
.noBids{
    color:#078B75;
    font-size:20px;
    font-weight: bold;
    letter-spacing: 0;
    text-align: center;
    padding-top: 1vh;
}
@media(min-height: 800px){
    .trees{
        height: 240px;
        width: 354px;
    }
}
