.requestwrapper{
    border-bottom: 1px solid #0000001F;
    opacity:1;
    width: 385px;
    margin: -10px;
}
.trees{
    height: 245px;
    width: 354px;
}
.afterLoginPage{
    color: #2B5A01;
    font-weight: bold;
    font-size:24px;
    text-align: center;
    padding: 7vh;
}
.arrow{
    position: absolute;
    left: 35vw
}