.requestwrapper{
    border-bottom: 1px solid #0000001F;
    opacity:1;
    width: 375px;
    margin: -10px;
}
.spinner{
    display:block;
    margin-left:45%;
    margin-right:55%;
    padding-top: 50%;
}
.trees{
    height: 130px;
    width: 300px;
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}
.afterLoginPage{
    color: #2B5A01;
    font-weight: bold;
    font-size:24px;
    text-align: center;
    padding: 7vh;
}
.arrow{
    position: absolute;
    left: 35vw
}
@media(min-height: 800px){
    .trees{
        height: 240px;
        width: 354px;
    }
}