.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}
.logo{
    width: 50%;
    height: 30%;
    padding: 5%;
}
.imageHolder {
    display: flex;
    width: 100%;
    justify-content: center;
}
.sign-up-options{
    text-align: center;
}
.facebook{
    padding-right: 1%;
}